
<div class="bio-wrapper">
		<div class="profile-data-wrapper">
		<div class="row">
				<div class="col-xs-1 col-xs-offset-4">
					<div class="post-count-data text-center">Post</div>
					<div class="text-center"><%=current_user.posts.count%></div>
				</div>

				
			<div class="col-xs-1">
				<div class="post-following-data text-center">Following</div>
				<div class="text-center"><%=current_user.following.count%></div>
			</div>
				
			<div class="col-xs-1">
				<div class="post-followers-data text-center">Followers</div>
					<div class="text-center"><%=current_user.followers.count%></div>
			</div>
	</div>
</div>
			
	<div class="row">
		<div class="col-xs-2 col-xs-offset-4 bio">
			<div class="img-circle">
				<%=image_tag @user.avatar.url(:medium), :class=> "img-responsive img-circle profile-image"%>
			</div>
		</div>
		
		<div class="col-xs-5">
			<div class="profile-name">
				<h2><%=@user.username%></h2>		
			</div>
			
			
			<%= render partial: "profiles/following_links" %>
			
			<div class="user-bio">
				<%=@user.bio%>
			</div>
			<div class="user-post-count">
				<%= pluralize @user.posts.count, 'post' %>
			</div>
		</div>
	</div>
</div>

	
	
</div>
<div class="row posts-wrapper">
  <% @posts.each do |post| %>
   <div class="post">
     <%= render partial: "posts/post_header", :locals => {:post => post}%>
     <%= render partial: "comments/comment_content", :locals => {:post=> post} %>
     <div class="comment_<%=post.id%>"></div>
	<%=render partial: 'comments/comment_form', :locals => {:post => post} %>
   </div>
  <%end%>
  <%if @posts.count > 6 %>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-4">
			<div class="load-more-wrapper">
				<%=link_to "Load More", posts_path, :class=>"load-more-posts-btn" %>
			</div>
		</div>
	</div>

  <%end%>
</div>