<div class="row posts-wrapper">
	<div class="post">
		<div class="post-head">
			<div class="name"><%=@post.user.username%></div>
		</div>
		<div class="image center-block">
			<%=image_tag @post.image.url, width: '640x', class: 'img-responsive'%>
			<p class="caption text-center"><%=@post.caption %></p>
			<div class="post-edit-btn">
			<%=render partial: 'posts/post_links', :locals => {:post => @post} %>
		</div>

			<%=render partial: "comments/comment_content", :locals => {:post=> @post} %>

    		<%=render partial: 'comments/comment_form', :locals => {:post => @post} %>
		</div>
   </div>
</div>